<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>copypaste</title>
</head>
<body>
  <form method="post">
    {{ form.hidden_tag() }}
    {{ form.title(placeholder="Paste Name / Title (optional)") }}
    {% for error in form.title.errors %}
      <p class="error">{{ error }}</p>
    {% endfor %}
    {{ form.content(rows=20, cols=80) }}
    {% for error in form.content.errors %}
      <p class="error">{{ error }}</p>
    {% endfor %}
    <label for="{{ form.expiration.id }}">Paste Expiration:</label>
    {{ form.expiration() }}
    <label for="{{ form.language.id }}">Syntax Highlighting:</label>
    {{ form.language() }}
    <button type="submit">Create paste</button>
  </form>
</body>
</html>
