<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ paste.title or "copypaste" }}</title>
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ paste.title or "copypaste" }}">
  <meta property="og:description" content="{{ paste.content[:200] }}">
  {% if highlighted %}<link rel="stylesheet" href="{{ url_for('static', filename='pygments.css') }}">{% endif %}
</head>
<body>
  {% if paste.title %}<h1>{{ paste.title }}</h1>{% endif %}
  {% if highlighted %}
    {{ highlighted | safe }}
  {% else %}
    <pre>{{ paste.content }}</pre>
  {% endif %}
</body>
</html>
